<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include('partials/head') %>
<%- include('partials/header') %>
<body>
  <div class="jumbotron text-center">
  <div class="container">
    <%- include('partials/lead') %>
    <hr>
    <% locals.allNotes.forEach(note => {%>
    <div class="card" idnote=<%= note.id %> >
      <h4 class="card-heading"><%= note.title %></h4>
      <hr>
      <div class="card-content"><%= note.content %></div>
    </div>
    <%}%>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Add a note</a>
  </div>
</div>

<%- include('partials/footer') %>
</body>
</html>
